html, body {
    height: 100%;
}

#container {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
}

#msgContainer, #otherContainer {
    position: relative;
    height: 100%;
}

#msgBasePanel {
    position: absolute;
    top: 0;
    bottom: 35px;
    left: 0;
    right: 0;
}

#msgPanel, #systemPanel {
    height: 100%;
}

#msgForm {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

#msgInput {
    width: 100%;
}

#systemBasePanel {
    position: absolute;
    top: 0;
    left: 2%;
    right: 0;
    height: 20%;
}

#userBasePanel {
    position: absolute;
    top: 22%;
    bottom: 0;
    left: 2%;
    right: 0;
}

#userPanel {
    position: absolute;
    top: 41px;
    bottom: 0;
    left: 0;
    right: 0;
}

#msgPanel, #userPanel, #systemPanel {
    overflow-y: scroll;
    word-break: break-all;
}

#editor {
    height: 100px;
    overflow-x: none;
    overflow-y: scroll;
}
