<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>聊天室</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/index.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" charset="utf-8" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://apps.bdimg.com/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/index.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
    </nav>
    <div id="container" class="container-fluid">
        <div id="msgContainer" class="col-xs-8">
            <div id="msgBasePanel" class="panel panel-default">
                <div id="msgPanel" class="panel-body"></div>
            </div>

            <form id="msgForm" class="form-inline">
                <input type="text" id="msgInput" class="form-control" placeholder="按回车键发送" />
            </form>
        </div>

        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">当前在线人数：<strong id="numUser"></strong> </div>
                <div id="userPanel" class="panel-body"></div>
            </div>
        </div>
    </div>
</body>

<script id="msgTpl" type="text/template" charset="utf-8">
    <div>
        <strong class="text-{{color}}">{{user_name}}</strong>
        <p class="text-{{color}}">{{content}}</p>
    </div>
</script>

<script id="userTpl" type="text/template" charset="utf-8">
    {{#each users}}
    <p> {{this}}</p>
    {{/each}}
</script>

</html>
